body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #461674;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  text-align: center;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
h1 {
  color: #461674;
}
label {
  display: block;
  text-align: left;
  font-style: oblique;
  font-size: 14px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
input[type="submit"],
input[type="button"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(71, 22, 117, 0.15);
  cursor: pointer;
  color: #461674;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: background 0.5s;
}
input[type="submit"]:hover {
  background-color: #461674;
  color: white;
}
input[type="button"]:hover {
  background-color: #461674;
  color: white;
}
